
input[type=email]{
    width: 25vw;
}
input[type=password]{
    width: 25vw;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 17vw;
}
.botoes{
    display: flex;
    gap: 19vw;
}